:root {
  --vt-c-white: #fff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222;
  --vt-c-black-mute: #282828;

  --vt-c-snow: #fcf7f8;
  --vt-c-frenchgray: #ced3dc;
  --vt-c-rosequartz: #aba9c3;
  --vt-c-denim: #275dad;
  --vt-c-payesgray: #5b616a;

  --color-background: var(--vt-c-snow);
  --color-border: var(--vt-c-payesgray);
  --color-text: var(--vt-c-black-soft);
}

body {
  min-height: 100vh;
  margin: 0;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    system-ui,
    -apple-system,
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
