@import './base.css';

#app {
  /* background: linear-gradient(var(--vt-c-snow), var(--vt-c-denim)); */
  background-color: var(--color-background);
  max-width: 1280px;
  margin: 0;
  padding: 2rem;
  font-weight: normal;
}

body {
  margin: 0;
}

.innerview {
  margin-left: 1rem;
}